# Builds and publishes the documentation website to gh-pages branch
name: Build docs

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        name: Checkout
        with:
          submodules: recursive

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v3.2.0
        with:
          dotnet-version: 7.x

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1
      
      - name: Restore NuGet Packages
        run: msbuild -t:restore src\Bonsai.ML.sln

      - name: Setup DocFX
        run: dotnet tool restore

      - name: Build Documentation
        run: dotnet docfx docs/docfx.json

      - name: Publish to github pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_site
          publish_branch: gh-pages
          force_orphan: true